[*.cs]

# 忽略以下编译警告
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.SYSLIB0023.severity = none
dotnet_diagnostic.SYSLIB0022.severity = none
dotnet_diagnostic.SYSLIB0021.severity = none
dotnet_diagnostic.SYSLIB0014.severity = none
dotnet_diagnostic.SYSLIB0001.severity = none